<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>algorithms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>longCommSeq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>longIncrSeq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>quick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testbubble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>testheap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testmain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testmerge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testquick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7130CBFE1E359DFE0016001A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>719FF1401E2FB997006F77B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A7703D1E31195F002CBBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71B74A9D1E3C903C0016CD8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D6398A1E3C78D000596946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DBE76F1E344F6000912190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DBE77F1E345D0F00912190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DCB4E31E45A4F90066B209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DCB4F31E45C10B0066B209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71ED7C251E3C676700C17607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71ED7C371E3C764200C17607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
